.Speedtest {
	.math-problem-set-wrapper {
		position: relative;
		height: 266px;

		.math-problem-set {
			overflow: hidden;
			white-space: nowrap;
			padding: 16px;
			position: absolute;

			@import './MathProblem.scss';
		}
	}

	.toolbar {
  		@include cardify();
		margin-left: 16px;
		display: inline-block;
		padding: 8px;

		> * {
			display: inline-block;
			height: 40px;
			border-radius: $border-radius-base;
			font-size: 25px;
			text-align: center;
			color: $brand-font-color;
		}

		.countdown-timer {
			width: 75px;
			line-height: 40px;
			background-color: $brand-primary;
		}

		button {
			margin-left: 8px;
			vertical-align: top;
			padding: 0 8px;
		}

		.count {
			margin-left: 8px;
			padding: 0 8px;
			line-height: 40px;

			&.correct-count {
				background-color: $brand-success;
			}

			&.wrong-count {
				background-color: $brand-danger;
			}
		}
	}
}
