.Speedtest {
	.math-problem-set-wrapper {
		position: relative;
		height: 300px;

		.math-problem-set {
			overflow: hidden;
			white-space: nowrap;
			padding: 16px;
			position: absolute;

			@import './MathProblem.scss';
		}
	}

	.toolbar {
		padding-left: 16px;

		> * {
			display: inline-block;
			height: 40px;
			border-radius: $border-radius-base;
			font-size: 25px;
			text-align: center;
			background-color: $brand-primary;
			color: $brand-font-color;
		}

		.countdown-timer {
			width: 75px;
			line-height: 40px;
		}

		button {
			margin-left: 16px;
			vertical-align: top;
			padding: 0 25px;
		}
	}
}
